 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    padding: 20px;
 }
 
 
 header{
    background-color: #209ca7;
    color: #f2f2f2;
    padding: 3%;
    margin: 1%;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    
}

nav ul{
     
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;
}
nav ul li{
    float: left;
    
}

nav ul li a{
   
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #666;
}

#fotoPerfil{
    border-radius: 50%;
    width: 10%;
    height: 10%;
    aspect-ratio: 1/1;
    object-fit: cover;
    float: left;
    margin-top: 10px;
    border: 3px solid #333;

}

p{
    line-height: 1.6;
  text-align: justify;
  margin-bottom: 20px;
}

h1, h3, h4{
    margin-top: 20px;
    text-align: left;
    position: relative;
    left: 2% ;
}

#sobre{
    line-height: 1.6;
    padding: 3%;
    margin: 1%;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;;
}

#habilidades{
    line-height: 1.5;
    padding: 3%;
    margin: 1%;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

#projetos{
    line-height: 1.5;
    padding: 3%;
    margin: 1%;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

footer{
  
    background-color: #209ca7;
    color: #f2f2f2;
    padding: 3%;
    margin: 1%;
    text-align: left;
    border: 2px solid #ddd;
    border-radius: 8px;

}

footer ul{
      list-style: none;
    padding-left: 0;
}
#linkedin{
    width: 7%;
height: 7%;
border-radius: 8px;
border: 1px solid black;
}

#gitHub{
    width: 7%;
    height: 7%;
}


