 body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 
 header{
    background-color: #209ca7;
    color: #f2f2f2;
    padding: 5%;
    text-align: center;
}


nav ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #666;
}

#fotoPerfil{
    border-radius: 100%;
    float: left;
    margin-top: 10px;
    border: 5px solid #333;

}


h1, p {
    margin-top: 20px;
    text-align: left;
    position: relative;
    left: 2% ;
}

#sobre{
    text-align: center;
}

footer{
    background-color: #209ca7;
    color: #f2f2f2;
    padding: 5%;
    text-align: left;

}



